* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.outer-container {
    margin: 0 auto;
    width: 80vw;

    .heading {

        button,
        h1 {
            margin: 10px 0;
        }
    }

    .board {
        width: 100%;
        display: inline-grid;
        grid-template-columns: auto auto auto;
    }

}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: 0.9rem;
    }
}